body {
    padding: 40px;
}
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(40, 40, 40);
}
#text {
    width: 600px;
    height: 200px;
    display: block;
    margin-bottom: 20px;
}
#result {
    margin-top: 20px;
}
#reset-button {
    margin-left: 20px;
}